// MYCALCULATOR VARIABLES
$white:    #fff !default;

// BOOTSTRAP OVERRIDES VARIABLES
$navbar-inverse-bg: #000;

@import url('https://fonts.googleapis.com/css?family=Nunito');

$font-family-base: 'Nunito', sans-serif;
