<div class="home-page">
    <div class="d-flex h-100 p-3 mx-auto flex-column" *myclcShowAuthed="true">
        <main role="main" class="inner cover">
            <myclc-calculator></myclc-calculator><br/>
            <myclc-operation-list></myclc-operation-list>
        </main>
    </div>
    <div class="d-flex h-100 p-3 mx-auto flex-column" *myclcShowAuthed="false">
      <main role="main" class="inner cover">
        <p class="lead">To access My Calculator App you mnust logged In first Click <a [routerLink]="['/login']">here</a> to Signin</p>
      </main>
    </div>
</div>